#fixed{
  background-image: url('img/back.png');
  height:600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

footer{
  background-color: #3f3f3f;
  color:#d5d5d5;
  padding-top: 2 rem;
}

.light{
  border-top: 1px solid #d5d5d5;

}
